//Layouts
@import "../layouts/SimpleLayout/SimpleLayout.scss";

//Navbar
@import "../components/Header/Navbar/Navbar.scss";

//Tab Product
@import "../components/Tab/TabProduct.scss";

//Carousel
@import "../components/Carousel/Carousel.scss";
